*{
  margin: 0%;
  padding: 0%;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px;
  background-color: rgb(83, 236, 83);
  box-shadow: 0px 2px 5px 0px black;
  z-index: 2;
  position: fixed;
  width: 100vw;
}
.navbar h1{
  font-family: system-ui;
  font-size: 3rem;
  color: white;
}

.whole-box{
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.add-note{
  width: 420px;
  box-shadow: 1px 1px 10px 1px #b59d9d;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin-top: 110px;
}
.add-note .input-title{
  padding: 5px;
  width: 330px;
  font-size: 40px;
  margin: 5px;
  border: none;
  outline: none;
}
.add-note .input-note{
  padding: 5px;
  width: 330px;
  font-size: 15px;
  margin: 5px;
  border: none;
  outline: none;
}

.add-button{
  box-shadow: 3px 3px 10px 0px #b99f9f;
  background-color: white;
  color: rgb(83, 236, 83);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  padding: 10px;
  border-radius: 50px;
  position: absolute;
  margin-top: 235px;
  margin-left: 400px;
}
.add-button:hover{
  color: white;
  background-color: rgb(83, 236, 83);
}


.notes{
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
}

.note{
  height: 300px;
  width: 300px;
  box-shadow: 1px 1px 10px 1px #b59d9d;
  background-color: #abe7ab;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px;
}
.note .title{
  color: #11834a;
  margin: 20px 0px;
  font-size: 34px;
  font-family: sans-serif;
  text-align: center;
}
.note p{
  font-size: 20px;
  font-family: system-ui;
  font-style: italic;
  padding: 0px 10px;
  align-items:center;
  text-align: center;
}
.note .delete-button{
  box-shadow: 3px 3px 10px 0px #b99f9f;
  background-color: white;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  padding: 11px;
  border-radius: 50px;
  position: absolute;
  margin-left: 292px;
  margin-top: -10px;
}
.note .delete-button:hover{
  background-color: red;
  color: white;
}

.note .time{
  text-align: right;
    width: 229px;
    opacity: 0.6;
    padding: 8px;
}

@media (max-width:480px){
  .whole-box{
    position: relative;
    height: 100vh;
    background-color: white;
  }
  .navbar h1{
    font-family: system-ui;
    font-size: 2rem;
    color: white;
  }
.add-note {
    width: 284px;
    box-shadow: 1px 1px 10px 1px #b59d9d;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    margin-top: 91px;
}
.add-note .input-note {
  padding: 5px;
  width: 285px;
  font-size: 15px;
  margin: 5px;
  border: none;
  outline: none;
}

element.style {
  display: flex;
}
.add-note .input-title {
  padding: 5px;
  width: 283px;
  font-size: 40px;
  margin: 5px;
  border: none;
  outline: none;
}
.add-button {
  box-shadow: 3px 3px 10px 0px #b99f9f;
  background-color: white;
  color: rgb(83, 236, 83);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50px;
  position: absolute;
  margin-top: 190px;
  margin-left: 287px;
}
}
